@font-face {
	
	font-family : Genome-Thin ; 
	src : url(font/Genome-Thin.otf);

}

body {
	
	margin : 0;
	padding : 0; 
	
}

.parent {

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 3em;
	width: 100%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	
}

.parent div {

	font-size: 4em;
	text-align: center;
	border: 1px solid black;
	width: 25%;
	height: 5em;
	padding-top: 1em;

	transition: 0.5s;

}

.parent .selection {

	width: 100%;
	font-family: Genome-Thin;

}

.parent .selection:hover {

	transform: scale(1.2);

}

.sel01 { grid-column: 2 / 2 }
.sel02 { grid-column: 3 / 4 }
.sel03 { grid-column: 4 / 5 }
.sel04 { grid-column: 5 / 6 }


